body {
    font-size: 20px;
    margin: 0;
    padding: 0;
}
nav {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0 10px;
    text-align: end;
}
nav a:hover {
    background-color: #7777771f;

}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav span{
  
}
section{ 
  padding: 0%;
  background-image: url('WhatsApp Image 2023-12-20 at 9.04.39 PM.jpeg');
  background-size: cover;
  background-position: relative;
  background-repeat: no-repeat;
}
@media screen and (min-width: 600px) {
  section {
      display: block;
  }
section div{
  display: inline-block;

}

.home{ 

  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}
.home-img{ 


}

.home-img img{ 
  width: 400px;
  height: 300px;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  line-height: 1.6;
}

@media only screen and (max-width: 600px) {
  /* Add responsive styles as needed for smaller screens */
  .container {
      padding: 10px;
  }
}
footer {
    background-color: #1a1a1ac5;
    color: white;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h2 {
    color: #ffffff;
  }
  
  .footer-section p, .footer-section ul {
    margin: 0;
    list-style: none;
  }
  
  .footer-section a {
    color: white;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #555;
  }
  